@using Mango.Web.Utilities
@model ProductDetailsDto
@{
    ViewBag.Title = "Product details";
}

<form method="post">
    <div class=" pt-4">
        <div>
            @Html.ValidationSummary(false)
        </div>
        <div class="card container" style="border:1px solid #808080;">
            <div class="card-header bg-dark text-light row" style="border-radius: 0px;">
                <div class="col-12 col-md-6">
                    <label asp-for="Name"><input type="text" asp-for="Name" class="bg-dark fw-bold text-light border-0" value="@Model.Name" /></label>
                    <input type="hidden" asp-for="ProductId" value="@Model.ProductId" />
                </div>
                <div class="col-12 col-md-6 text-end">
                    <p>@Model.ProductPrice.Value.ToString("c")</p>
                    <input type="hidden" readonly asp-for="ProductPrice" class="bg-dark fw-bold text-warning border-0" value="@Model.ProductPrice.Value" />
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-4 p-1 text-center">
                            <img src="@Url.Content(Enums.BaseImagePath + Model.ImageUrl)" style="border-radius:35px;" width="100%" class="rounded" />
                        </div>
                        <div class="col-12 col-lg-8">
                            <div class="row pl-3">
                                <div class="col-12">
                                    <span class="badge p-3">
                                        <input type="text" asp-for="CategoryName" class="text-dark border-0" readonly value="@Model.CategoryName" />
                                    </span>
                                    <p class="text-secondary pt-3"><input type="text" class="border-0" asp-for="Description" value="@Model.Description" /></p>
                                </div>
                            </div>
                            <div class="row mx-0">
                                <input type="number" asp-for="Count" class="form-control" />
                                <span asp-validation-for="Count"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer row bg-dark">
                <div class="col-12 col-md-6 pb-1 ">
                    <a asp-action="Products" asp-controller="Product" class="btn btn-success btn-square form-control btn-lg" style="height:50px;">Back to List</a>
                </div>
                <div class="col-12 col-md-6 ">
                    <input asp-action="ProductDetails" asp-controller="ShoppingCart" type="submit" class="btn btn-primary form-control btn-lg" value="Add to Cart" style="height:50px;" />
                </div>
            </div>
        </div>
    </div>
</form>